/* 
    Document   : media_queries
    Created on : Oct 22, 2015, 9:01:04 PM
    Author     : mss
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.right_content{
    border-left:1px solid #ccc;
}



.password_box{
    margin-left: 10%;
    margin-right: 20%;
    width:70%;
}

.budget_search{
    width:150px;
}

.right_block{
    border-left:1px solid #ccc;
}

.wrap_pwd{
    margin-left:10%;
    margin-right:10%;
}


.btn_pull{
    margin-right:5%; 
}

.contactinfo{
    margin-left: 3%;
    margin-top: 12px; 
}

 @media (width:320px){
   .margin_overlay {
    width:95%;    
    }
   div.contactEmail
    {
    margin-right:15px;
    }
    
}

@media (min-width:320px) and (max-width:430px){
  #InvoiceGenerationOverlay_popup{
    width:76% !important;    
    }
    
}

@media (max-width:499px){
    .align_left{
       float:left; 
       width:100%;
    }
    
}

@media(width:768px)
{
    .tech_lab{
        width:63px;
    }
}
@media  (min-width: 768px) and (max-width:1200px){
    .generate_btn{
        width: 100px;
    }
}

@media  (min-width: 380px) and (max-width:980px){
    .task_btn{
        margin-left: 12px;
    }
}

@media  (min-width: 280px) and (max-width:577px){
    #footer{
        height: 26%;
    }
}



@media  (min-width: 240px) and (max-width:640px){
    .header_top{
        background-size: cover;
    }
    
    #myCarousel{
        display: none;
    }
    .label_order{
        width:71px;
    }
}

/*@media  (min-width: 647px){
    .header_top{
        background-size: contain;
    }
}*/

@media all and (max-width: 1070px) and (min-width: 420px), (min-width: 800px) {
    .btn_order{
        margin-right: 3%;
    }
}

@media (max-width: 987px){
    .right_content{
        border-left: 0 !important;
    }
}

@media (min-width: 300px) and (max-width: 762px){
    .dashboard_option{
        font-size:9px;
        position: absolute;
        top: 217px;
    }

    .vertical-center {
        min-height: 100%;  /* Fallback for vh unit */
        /*  min-height: 100vh;  You might also want to use
                                'height' property instead.
                                
                                Note that for percentage values of
                                'height' or 'min-height' properties,
                                the 'height' of the parent element
                                should be specified explicitly.
          
                                In this case the parent of '.vertical-center'
                                is the <body> element */

        /* Make it a flex container */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; 

        /* Align the bootstrap's container vertically */
        -webkit-box-align : center;
        -webkit-align-items : center;
        -moz-box-align : center;
        -ms-flex-align : center;
        align-items : center;

        /* In legacy web browsers such as Firefox 9
           we need to specify the width of the flex container */
        width: 100%;

        /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
           hence the bootstrap's container won't be aligned to the center anymore.
        
           Therefore, we should use the following declarations to get it centered again */
        -webkit-box-pack : center;
        -moz-box-pack : center;
        -ms-flex-pack : center;
        -webkit-justify-content : center;
        justify-content : center;
    }
    side_popup{
        display:none;
    }

    .panel_home{
        height:220px;
        width:100%;
    }

}

@media  (min-width: 768px) and (max-width:943px){

    .wrap_pwd{
        margin-left:1%;
        margin-right:1%;
    }
}



@media  (max-width: 1024px){
    
    .panel_home{
        margin-left:0;
    }
}



@media  (min-width: 800px){

    .btn_align{
        margin-top: 74px;
    }



}
.sign-in>a:focus{text-decoration:none;background-color:transparent !important}


.sign-in>a{
    text-decoration:none;background-color:transparent !important;
}

.header_image li  a:focus{text-decoration:none;background-color:transparent !important}


    
    
@media  (min-width: 1024px) and (max-width: 1200px){


    .side_menu{

        width: 230px ;
    }
    .pinned{
        display: none;
    }

    .scrollable{
        overflow-x: scroll;
    }


    .wrapper{
        width:1070px ;
    }

    .head{
        width:1020px;
    }

    .pwd_form{
        width:600px;
    }

}



@media (max-width: 1280px){
    .intro_slider{
        width:104%;
        margin:0;
    }

    #multiple_devices{
        width: 1244px;
    }
} 


@media (min-width: 1280px){
    .side_menu{

        width: 235px  ;
    }

    .right_content{
        width:1040px;
    }
    
    .anchorstyle{
        margin-right: 9%;
    }
    
    .register{
        margin-right:3% !important;
    }

    .wrapper{
        width:1570px;
    }
    .head{
        width:1245px;
    }


    .foot{
        width:1265px;
    }

    .btn_order{
        margin:1;
    }

    .register_form{
        width: 1280px;
    }

    .socialHover{
        margin-right: 60px;
    }
    
    #header_top > .container{
        width:1280px;
    }
}


@media (min-width: 1366px) {
    .right_content{
        width:1085px;
    }

}



@media (min-width: 1800px){

    .side_menu{
        width: 288px ;
    }

    .right_content{
        float: right;
        width:1020px;
    }

    .wrapper{
        width:1508px ;
    }

    .head{
        width:1900px;
    }
    /*    .foot{
            width:1890px;
        }*/


    .side_popup{
        left:320px;
    }

    /*    .slide_popup{
    
            background-size: 30px 30px;
            background-repeat: no-repeat;
            width:50px;
            height:50px;
            background-color: #FF6600;
            border-left: solid #1B9BFF 4px;
            background-position: center;
            box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.35);
    
        }*/
    .slide_popup{
        border-left:1px solid #21a6d8 ;
    }

 




   
}

@media (min-width: 1900px){

    .side_menu{
        width: 288px ;
    }

    .right_content{
        float: right;
        width:1016px;
    }

    .wrapper{
        width:1908px ;
    }

    .head{
        width:1900px;
    }
    /*    .foot{
            width:1890px;
        }*/

}



